<div class='backdrop'>
    <a routerLink='/munis' queryParamsHandling='merge'></a>
</div>
<div class='about'>
    <div class="info">
        <h1>תכנון דיגיטלי לקידום חוסן עירוני והערכות לשינויי אקלים</h1>
            פרויקט "תכנון דיגיטלי לקידום חוסן עירוני והערכות לשינויי אקלים" הינו מחקר במימון משרד המדע והטכנולוגיה, ובו חוקרים מאוניברסיטת בר אילן פתחו שירותי אקלים לסייע למתכננים וקובעי מדיניות להיערך לשינויי אקלים.
            <ul>
                <li>
            <a href="https://cris.biu.ac.il/en/persons/itamar-lensky">פרופ׳ איתמר לנסקי</a> - מדעי האטמוספירה, חישה מרחוק
        </li><li>
            <a href="https://geoenv.biu.ac.il/node/1826">ד״ר שלומית פלינט</a> - אדריכלות, תכנון עירוני
        </li><li>
            <a href="https://cris.biu.ac.il/en/persons/keren-agay-shay">ד״ר קרן אגאי שי</a> - אפידימיולוגיה סביבתית
        </li><li>
            <a href="https://cris.biu.ac.il/en/persons/anat-tchetchik">פרופ׳ ענת צ׳צ׳יק</a> - כלכלה סביבתית
        </li><li>
            <a href="https://cris.biu.ac.il/en/persons/oren-glickman">ד״ר אורן גליקמן</a> - מדעי הנתונים
        </li><li>
            <a href="https://geoenv.biu.ac.il/node/558">שילה שיף</a> - מערכות מידע גאוגרפיות וחישה מרחוק
        </li><li>
            <a href="https://geoenv.biu.ac.il/node/2239">רינת מילוא</a> - תכנון עירוני
        </li>
    </ul>
        <p>
            כלים אלה מתוכננים לעבוד עם מערכת תומכת תכנון (Planning Support System) בשם <a href="https://www.geodesignhub.com/">geodesignhub</a>.
            </p>
            <p>
            האתר פותח ע"י <a href="https://www.hasadna.org.il/"> הסדנה לידע ציבורי</a>.
        </p>
                <a class='entry' routerLink='/munis'>כניסה&nbsp;&gt;</a>
    </div>
    <div class='hero'></div>
</div>