<div class='backdrop'>
    <a routerLink='/munis' queryParamsHandling='merge'></a>
</div>
<div class='about'>
    <div class="info">
        <h1>תכנון דיגיטלי לקידום חוסן עירוני והערכות לשינויי אקלים</h1>
            פרויקט "תכנון דיגיטלי לקידום חוסן עירוני והערכות לשינויי אקלים" הינו מחקר במימון משרד המדע והטכנולוגיה, ובו חוקרים מאוניברסיטת בר אילן פתחו שירותי אקלים לסייע למתכננים וקובעי מדיניות להיערך לשינויי אקלים.
            <ul>
                <li>
            פרופ׳ איתמר לנסקי - מדעי האטמוספירה, חישה מרחוק
        </li><li>
            ד״ר שלומית פלינט - אדריכלות, תכנון עירוני
        </li><li>
            ד״ר קרן אגאי שי - אפידימיולוגיה סביבתית
        </li><li>
            פרופ׳ ענת צ׳צ׳יק - כלכלה סביבתית
        </li><li>
            ד״ר אורן גליקמן - מדעי הנתונים
        </li><li>
            שילה שיף - מערכות מידע גאוגרפיות וחישה מרחוק
        </li><li>
            רינת מילוא - תכנון עירוני
        </li>
    </ul>
        <br>
            כלים אלה מתוכננים לעבוד עם מערכת תומכת תכנון (Planning Support System) בשם geodesignhub.
            <br>
            <p>
            האתר פותח ע"י <a href="https://www.hasadna.org.il/"> הסדנה לידע ציבורי</a>.
        </p>
                <a class='entry' routerLink='/munis'>כניסה&nbsp;&gt;</a>
    </div>
    <div class='hero'></div>
</div>